:root {
    --primary-color: #6852D3;
    --bg-color : #fff;
    --title-color: black;
    --menu-color: #57585C;
    --dashboard-color: #1C1C1C;
    --border-color: #EDEEF2;
    --input-icolor:#53575D;
    --item-menu: #B6B8C1; 
    --main-gradient: linear-gradient(90deg, #DB00FF 0%, #4228E2 100%);
    --success-tag: #3EBB13;
    --inactive-tag: rgba(87, 88, 92, 0.75);
    --inactive-tab: #A1B0CC;
    --input-newInstance: #A3A4A5;
}